body {backround-color:white;
text-color:black;}
.heading{ border-bottom: 2px solid black; 
  display: flex;
  justify-content: space-between;}
 .main-heading{border-right: 2px solid black;
    width:100px;
    margin:0;
    padding:10px
    }
.pic-heading
{border-left: 2px solid black;
    width:100px;
    margin:0;
    padding:10px
    }
 .big-box{display:flex;
 justify-content: space-between;
 width:100%;}
 .left{width:60%;}
 .right{width:40%;}
 .small-box{ border-bottom: 2px solid black;}
 .capsule{border: 2px solid black;
 margin:10px;
 padding:10px;
 width:80px;
 text-align:center;
 border-radius:50px;}
 .flex-div{display:flex;}
